<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
</head>
<section id="main-content">
  <section class="wrapper">

    <div class="container">

      <form id="question_submission_form" class="form-signin" role="form">
        <h2 class="form-signin-heading">Please enter your question and click on Submit</h2>
        <input id="question" form="question_submission_form" class="form-control" placeholder="Enter your question here..." required autofocus>
	     </input>
       <div class="buttons">
        <button id="submitButton" class="btn btn-lg btn-primary btn-block primary" >Submit</button>
	<a class="btn btn-lg btn-primary btn-block secondary" href="home.html">Cancel</a>
       </div>
      </form>

    </div> <!-- /container -->


    <div class = zero
    

    

    <div class="row">
        <div class="col-md col-md-offset-5">
       
    <% if @list != [] && @list != nil %>
      <% @list.each do |message| %>
<!--         <div class = zero
          <div class="wrapper" id = "box">
            <div class="alert alert-info" role="alert"  > -->

                <% rowRank = "rank" + message.id.to_s %>
                <button class="btn btn-lg button btn-default" style = "display: inline;"> 
                  <%= message.content %> - <span id = <%= rowRank  %>> <%= message.ranking %> </span>
                </button>

                <% idUp = message.id.to_s %>
                <% idDown = message.id.to_s %>

                  <button id= <%=idUp %>  class="button btn-success voteButton up" style="  
                   margin-top = 5%; display: inline; height: 40px; width: 40px"><span class= "glyphicon glyphicon-thumbs-up"></button>
                  <button id= <%=idDown %>  class="button btn-danger voteButton down" style=" display: inline; height: 40px; width: 40px" ><span class= "glyphicon glyphicon-thumbs-down  "></button>             
           <br>
<!--             </div>
         </div>
      </div> -->
      
      <% end %>
    <% end %>

</section>
  
</section>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../js/ie10-viewport-bug-workaround.js"></script>
  <script type="text/javascript">
  var ready;
  ready = function() {

       $.ajaxSetup({
         headers: {
           'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
         }
       });

       $("#submitButton").click(function(){
         var text = $('#question')[0].value
         var data = {question: text};
         $.ajax({
                 url: "/clients/getQuestion",
                 type: "post",
                 data: data,
                 dataType: "json"

               });
    });

          $(".voteButton.up").click(function(evt){
            var target = evt.target || evt.srcElement;
            while (target && !target.id) {
                target = target.parentNode;
            }
           target_id = target.id;


           console.log(target_id);
           var row = "#rank" + target_id;
           console.log(row);
           console.log($(row)[0]);

           $(row)[0].innerHTML = parseInt($(row)[0].innerHTML, 10) + 1;
           var data = {target_id: target_id};
           ajaxUp(data);
          });


          $(".voteButton.down").click(function(evt){
           var target = evt.target || evt.srcElement;
           while (target && !target.id) {
               target = target.parentNode;
           }
            target_id = target.id;
           var row = "#rank" + target_id;
           console.log(row);
           console.log($(row)[0]);

           $(row)[0].innerHTML = parseInt($(row)[0].innerHTML, 10) - 1;
           var data = {target_id: target_id};
           ajaxDown(data);
           
       });


       var ajaxDown = function(data){
         $.ajax({
                  url: "/clients/downvoteQuestion",
                  type: "post",
                  data: data,
                  dataType: "json"
                });
       }

       var ajaxUp = function(data){
         $.ajax({
                  url: "/clients/upvoteQuestion",
                  type: "post",
                  data: data,
                  dataType: "json"
                });
       }



  };

  $(document).ready(ready);
  $(document).on('page:load', ready);

   
  </script>

<% content_for :head do %>
  <style type="text/css">
    <%= render :partial => "shared/style_questions" %>
  </style>
<% end %>


